@import url(global.css);
html {
  height: 100%;
}

body {
  height: 100%;
}

.page {
  height: 100%;
  position: relative;
  display: grid;
  grid-template: auto / auto;
  justify-items: center;
  align-items: start;
}

.page::before {
  content: '';
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.page__title {
  position: static;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 116px;
  line-height: 117%;
  letter-spacing: 0.035em;
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  margin-top: 3.75%;
  z-index: 2;
}
.page__title:hover{
 color:#4C4C4C;
}

/*todo rename*/
.title__block {
  display: block;
}

.page__title:hover::before {
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  white-space: pre;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  border: 2px solid black;
  border-radius: 20px;
  display: inline-block;
  position: absolute;
  right: 21px;
  top: 180px;
  padding: 36px 44px;
  background-color: white;
  text-transform: none;
  box-shadow: 0 14px 0 black;
  text-align: left;
  letter-spacing: 0;
  z-index:2;
}

.page__title::after {
  content: '*';
  
}

.page__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  grid-row: 1;
  grid-column: 1;
  z-index: -1;
  position: absolute;
}
